@import "../styles/colors";

.container {
  padding: 2rem;
  display: flex;
  flex-direction: row;

  a {
    color: $primaryGreen;
  }

  section {
    margin-top: 2.9rem;
  }
}
.aboutLink {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 0.8rem;
}

.aboutLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 4.9rem;
  margin-top: 3.9rem;
}

.aboutText {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 3rem;
}

.aboutTitle {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 1.6rem;
}

.committeeLink {
  font-family: "Lato";
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-bottom: 2.9rem;
}

.currentPosition {
  font-size: 2.8rem;
  font-weight: bold;
}

.icon {
  margin-right: 0.8rem;
  width: 2.4rem;
}

.mainSection {
  flex: 2;
  padding: 4.7rem;
}

.profilePhoto {
  border-radius: 6.25rem;
  height: 12.5rem;
  margin-right: 3.3rem;
  object-fit: contain; // TODO We'll probably want to change this
  width: 12.5rem;
}

.seeAllIcon {
  height: 1.7rem;
  vertical-align: middle;
}

.seeAllLink {
  font-family: "DM Sans";
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 2.9rem;
}

.sideNav {
  flex: 1;
}

.totals {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4.7rem;
  margin-bottom: 4.9rem;
}

@media screen and (max-width: 760px) {
  .sideNav {
    display: none;
  }

  .mainSection {
    padding: 0;
  }

  .aboutSection {
    margin: 2rem 0;
  }

  .aboutTitle,
  .aboutText,
  .currentPosition {
    font-size: 1.4rem;
    line-height: 130%;
  }

  .profilePhoto {
    height: 5rem;
  }

  .totals {
    margin: 2.2rem 0 0;
  }

  .aboutLinks {
    flex-direction: column;
  }

  .aboutLink {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 130%;
  }

  .aboutLink:first-of-type {
    margin-top: 0;
  }

  .icon {
    margin: 0 1.2rem 0 0;
    height: 14;
    width: auto;
  }

  .seeAllLink {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .seeAllIcon {
    height: 0.7rem;
    width: auto;
    margin-left: 0.7rem;
  }

  .committeeLink {
    font-size: 1.4rem;
    line-height: 130%;
  }
}
