.container {
  padding: 2rem;
}

.totals {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4.7rem;
  margin-bottom: 7.8rem;
}

@media screen and (max-width: 760px) {
  .totals {
    flex-direction: column;
  }
}
