@import "../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  h2,
  p {
    color: $primaryOffWhite;
    font-weight: bold;
  }

  h2 {
    font-size: 8rem;
    line-height: 13rem;
  }

  p {
    text-align: center;
    max-width: 60%;
    font-family: "DM Sans";
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 760px) {
  .container {
    padding-bottom: 4rem;

    h2 {
      font-size: 4.5rem;
      line-height: 5.9rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.1rem;
    }
  }

  .container:last-child {
    padding-bottom: 0;
  }
}
