@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  font-size: 10px;
  line-height: 1.15;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.8rem;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #0a2852;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.45rem;
}

a {
  color: #006ea3;
}

a,
a:hover {
  text-decoration: none;
}
