@import "@fontsource/lato";
@import "@fontsource/dm-sans";
@import "@fontsource/roboto";
@import "colors";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  line-height: 1.15;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 10.72rem;
}

html,
body,
#gatsby-focus-wrapper,
#___gatsby {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: $primaryBlack;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Sans", sans-serif;
}

p,
label {
  font-family: "Lato", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 760px) {
  html {
    scroll-padding-top: 8.52rem;
  }
}
