@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "colors";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  line-height: 1.15;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 10.72rem;
}

html,
body,
#gatsby-focus-wrapper,
#___gatsby {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: $primaryBlack;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Sans";
}

p,
label {
  font-family: "Lato";
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 760px) {
  html {
    scroll-padding-top: 8.52rem;
  }
}
