@import "../../styles/colors";

.container {
  display: flex;
  width: max-content;
  padding: 1.7rem 3rem;
  background-color: $primaryGreen;
  border: 2px solid $primaryGreen;
  border-radius: 4px;

  .buttonText {
    font-family: "DM Sans";
    font-weight: bold;
    font-size: 2rem;
    color: $primaryWhite;
  }
}

.secondary {
  background-color: $primaryWhite;

  .buttonText {
    color: $primaryGreen;
  }
}

.container:hover {
  background-color: $hoverGreen;
  border-color: $hoverGreen;
}

.secondary:hover {
  background-color: $primaryGreen;
  border-color: $primaryGreen;

  .buttonText {
    color: $primaryWhite;
  }
}

.container:active {
}
