@import "../../styles/colors";

// Resizes Figma values to a 6:5 ratio and converts to rem
@function resize($size) {
  @return (5 * ($size / 10)) / 6 + rem;
}

.container {
  width: max-content;
  padding: 1.7rem 3rem;
  background-color: $primaryGreen;
  border: 2px solid $primaryGreen;
  border-radius: 4px;

  .buttonText {
    font-family: "DM Sans";
    font-weight: bold;
    font-size: resize(20);
    color: $primaryWhite;
  }
}

.secondary {
  background-color: $primaryWhite;

  .buttonText {
    color: $primaryGreen;
  }
}

.container:hover {
  background-color: $hoverGreen;
  border-color: $hoverGreen;
}

.secondary:hover {
  background-color: $primaryGreen;
  border-color: $primaryGreen;

  .buttonText {
    color: $primaryWhite;
  }
}

.container:active {
}
