@import "../styles/colors";

.container {
  padding: 10rem 0;
  align-items: center;
}

.text {
  h1 {
    font-size: 5.4rem;
    line-height: 130%;
    margin: 5rem 0 3rem;
  }

  p {
    font-size: 2.4rem;
    line-height: 130%;
  }

  span {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  ul {
    margin-top: 2rem;
    list-style-type: none;
  }

  li {
    padding: 0.8rem 0;
  }
}

.link {
  color: $primaryGreen;
}

@media screen and (max-width: 760px) {
  .container {
    padding: 5rem 5rem;
  }

  .text {
    h1 {
      font-size: 2.8rem;
      line-height: 3.6rem;
      margin: 2rem 0 1.5rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 130%;
    }

    ul {
      margin-top: 1.5rem;
    }

    li {
      padding: 0.6rem 0;
    }
  }
}
