@import "../styles/colors";

.container {
  padding: 10rem 20rem;

  h1,
  h2,
  p {
    line-height: 130%;
  }

  h1 {
    font-size: 3.2rem;
    margin-bottom: 3.5rem;
  }

  h2 {
    font-weight: 500;
    font-size: 2.4rem;
  }
  p {
    font-size: 2rem;
    margin: 1.5rem 0 7rem;
    a {
      color: $primaryGreen;
    }
  }
}

@media screen and (max-width: 760px) {
  .container {
    padding: 2rem 5rem;
  }

  h1 {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.4rem;
  }
}
