$primaryOffWhite: #fafafa;

.faqHeader {
  background-color: $primaryOffWhite;
  flex-direction: row;
  .faqHeaderLeft {
    padding: 9.5rem;
    padding-right: 0;
    z-index: 2;

    h1 {
      font-size: 5.4rem;
      margin-bottom: 1.6rem;
    }
    p {
      font-size: 2.8rem;
    }
  }
  .faqHeaderRight {
    position: absolute;
    right: 0;
  }
}

.faqBody {
  padding: 10rem 20rem 13rem;
}

.faqSection {
  h2 {
    font-size: 4.5rem;
    margin-bottom: 5rem;
  }
}
