.container {
  padding: 10rem;
  max-width: 1440px;
  margin: auto;

  h1 {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }

  p {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .iframe {
    padding-top: 5.1rem;
  }
}

@media screen and (max-width: 760px) {
  .container {
    padding: 2rem 5rem;
  }

  h1 {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.4rem;
  }
}
