.body {
  padding: 4.5rem 5rem;

  h2 {
    font-size: 4.5rem;
    line-height: 5.8rem;
    margin-bottom: 2.4rem;
  }

  p {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .iframe {
    align-items: center;
    padding: 2.4rem;
  }
}
