$primaryBlack: #1b1b1b;
$primaryGreen: #008254;
$secondaryGreen: #eafff7;
$underline: #00825466;

// Resizes Figma values to a 6:5 ratio and converts to rem
@function resize($size) {
  @return (5 * ($size / 10)) / 6 + rem;
}

.container {
  section {
    display: flex;
    flex: 1;
    // padding: 10rem;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  p {
    color: $primaryBlack;
  }

  h1,
  h2 {
    font-family: "DM Sans";
  }

  h3 {
    font-family: "Lato";
  }

  .hero {
    flex-direction: row;
    padding: 0;
    padding: 2.2rem 3rem 6.2rem 4.6rem;
  }

  .heroLeft {
    flex: 1;
    justify-content: center;
  }

  .heroText {
    color: $primaryBlack;
    font-size: resize(54);
    line-height: resize(70);
  }

  .heroSubtext {
    color: $primaryBlack;
    font-weight: normal;
    font-size: resize(28);
    line-height: 3.4rem;
    margin: 1rem 0 resize(62);
  }

  .heroButtonContainer {
    flex-direction: row;
  }

  .explore {
    padding-top: 7rem;
    text-align: center;
  }

  .exploreHeader {
    font-size: 4rem;
  }

  .exploreSubheader {
    padding: 2rem 0;
    font-size: 2.4rem;
  }

  .sectionItemContainer {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionItem {
    align-items: center;
    max-width: 337px;
  }

  .sectionItemHeader {
    font-size: 2.4rem;
    margin: 2rem 0 1rem;
  }

  .sectionItemSubheader {
    font-size: 2rem;
    padding: 2rem 0;
  }

  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aboutText {
    justify-content: center;
    flex: 1;

    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    h3 {
      color: $primaryGreen;
      margin: 2rem 0;
    }
  }

  .aboutImage {
    flex: 1;
    align-items: flex-end;
  }

  .reverse {
    flex-direction: row-reverse;
    .aboutImage {
      align-items: flex-start;
    }
  }
}
