$primaryBlack: #1b1b1b;
$primaryGreen: #008254;
$secondaryGreen: #eafff7;
$underline: #00825466;

// Resizes Figma values to a 6:5 ratio and converts to rem
@function resize($size) {
  @return (5 * ($size / 10)) / 6 + rem;
}

.container {
  h1,
  h2,
  h3,
  p {
    color: $primaryBlack;
  }

  h1,
  h2 {
    font-family: "DM Sans";
  }

  h3 {
    font-family: "Lato";
  }

  .hero {
    flex-direction: row;
    padding: 2.2rem 3rem 6.2rem 4.6rem;
  }

  .heroLeft {
    flex: 1;
    justify-content: center;
  }

  .heroButtonContainer {
    flex-direction: row;
    margin-top: 6.2rem;
  }
}
