.heroOuterContainer {
  padding: 0 2rem;
}

.heroInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  min-height: 71rem;
  margin: auto;
  padding: 5rem 0 6.2rem 0;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;

  h1 {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-family: "Lato";
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 3.4rem;
  }
}

.heroRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  img {
    max-width: 100%;
    min-width: 20%;
    height: auto;
  }
}

.heroButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 6.2rem;
}

.primaryCTA {
  margin-right: 1.6rem;
}

@media screen and (max-width: 960px) {
  .heroInnerContainer {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 4rem 0;
  }

  .heroRight {
    margin-top: 6rem;
    justify-content: flex-start;
  }

  .imageContainer {
    img {
      max-width: 41.2rem;
      width: 100%;
    }
  }
}

@media screen and (max-width: 760px) {
  .heroInnerContainer {
    max-width: max-content;
    min-height: auto;
  }

  .heroLeft {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 1.6rem;
      line-height: 2.1rem;
    }
  }

  .heroRight {
    margin: 2rem 0;
  }

  .heroButtonContainer {
    flex-direction: column;
    margin: 3.2rem 0;
  }
  .heroButtonContainer:first-child {
    margin-bottom: 2rem;
  }

  .primaryCTA {
    margin-left: 0rem;
    margin-bottom: 1.6rem;
  }
}
