.container {
  .hero {
    background-color: #fafafa;
    flex-direction: row;
  }

  .heroLeft {
    flex: 1;
    justify-content: center;
    padding: 2.2rem 3rem 6.2rem 4.6rem;

    h1 {
      font-size: 5.4rem;
      margin-bottom: 2rem;
    }

    h2 {
      font-family: "Lato";
      font-size: 2.4rem;
      font-weight: normal;
      line-height: 3.4rem;
    }
  }

  .heroRight {
    flex: 1;
    align-items: flex-end;
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4.5rem 2.1rem;

    .card {
      flex: 1;
      max-width: 52rem;
      min-height: 60rem;
      flex-direction: column;
      justify-content: space-between;
      margin: 4rem 1.5rem;
      padding: 6.8rem 6.1rem;

      h2 {
        font-size: 4.5rem;
        line-height: 5.8rem;
      }

      p {
        font-size: 2.4rem;
        line-height: 3.1rem;
      }
    }
  }

  .green {
    background-color: #e3f9f1;
  }

  .blue {
    background: #deeffe;
  }

  @media screen and (max-width: 760px) {
    .hero {
      flex-direction: column;
      padding: 4rem 0;
    }

    .heroLeft {
      padding-left: 2.5rem;

      h1 {
        font-size: 2.8rem;
      }

      h2 {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
  }
}
