.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.container p a {
	color: #006ea3;
}

.subheading {
	color: #909090;
	font-size: 1.9rem;
	font-style: italic;
	margin-bottom: 0.9rem;
	margin-top: 0.9rem;
}

.moneyHeading {
	color: #006ea3;
	font-size: 3rem;
	font-weight: 300;
}

.moneyTotal {
	font-size: 3rem;
	font-weight: 300;
	color: #808080;
	line-height: 1;
	margin-bottom: 1.8rem;
	text-align: left;
}
