@import "../styles/colors";

.chart {
  margin: 2.9rem 0;

  p {
    font-size: 2rem;
  }
}

.label {
  align-self: center;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.9rem;
}

.rowTop {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.rowBottom {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.value {
  align-self: center;
  flex: 1;
  font-weight: bold;
  margin-right: 1rem;
  text-align: right;
}

@media screen and (max-width: 760px) {
  .row {
    flex-direction: column;
  }

  .rowTop,
  .rowBottom {
    flex-direction: row;
  }
  .rowTop {
    margin-bottom: 0.6rem;
  }

  .chart p {
    font-size: 1.4rem;
    line-height: 130%;
  }
}
