@import "../styles/colors";

.chart {
  margin: 2.9rem 0;

  h4 {
    color: $primaryGreen;
    font-family: "Lato";
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.8rem;
  }
}

.label {
  align-self: center;
  flex: 1;
  word-wrap: normal;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.9rem;
}

.rowTop {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.noLabel {
  .rowTop {
    flex: 0;
  }
  .padding {
    display: flex;
    flex: 1;
  }
}

.rowBottom {
  display: flex;
  flex-direction: row;
  flex: 4;
}

.value {
  align-self: center;
  flex: 1;
  font-weight: bold;
  margin-right: 1rem;
  text-align: right;
}

@media screen and (max-width: 760px) {
  .row {
    flex-direction: column;
  }

  .rowTop,
  .rowBottom {
    flex-direction: row;
  }
  .rowTop {
    margin-bottom: 0.6rem;
  }

  .chart p {
    font-size: 1.4rem;
    line-height: 130%;
  }
}
