@import "../styles/colors";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  h3 {
    font-size: 2.8rem;
    padding: 0.9rem;
  }

  p {
    font-size: 2rem;
  }

  .description {
    text-align: center;
    max-width: 60%;
  }

  .footer {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 760px) {
  .container {
    margin-bottom: 8rem;

    img {
      margin-bottom: 2.9rem;
      max-width: 50%;
      height: auto;
    }

    h3 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.1rem;
    }
  }
}
