$primaryBlack: #1b1b1b;

.item {
  align-items: center;
  margin-top: 4rem;
  
  h3 {
    font-size: 2.8rem;
    padding: 0.9rem;
  }

  p {
    font-size: 2rem;
  }

  .footer {
    margin-top: 4rem;
  }
}