@import "../styles/colors";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  justify-content: space-between;
  max-width: 25%;
  margin: 4rem 1rem 1rem;

  img {
    height: auto;
    min-width: 80%;
    max-width: 100%;
  }

  h3,
  .description {
    text-align: center;
  }

  h3 {
    font-size: 2.8rem;
    padding: 1rem;
  }
}

.description {
  font-size: 2rem;
}

.footer {
  margin-top: 4rem;
}

@media screen and (max-width: 760px) {
  .container {
    margin-bottom: 8rem;
    max-width: 100%;

    img {
      margin-bottom: 2.9rem;
      max-width: 50%;
      height: auto;
    }

    h3 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.1rem;
    }
  }
}
