@import "../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  background-color: transparent;
  margin: 4rem 1.5rem 4rem;
  align-items: center;
}

.imageContainer {
  background-color: $primaryWhite;
  max-width: 18rem;
  width: 75%;
  z-index: 2;
  display: flex;
  border-radius: 50%;
  object-fit: contain;
  padding-bottom: 2rem;

  img {
    border-radius: 50%;
    object-fit: contain;
    border: 8px solid $secondaryBlue;
    height: auto;
    width: 100%;
    z-index: 2;
  }
}

.candidateInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background-color: $primaryWhite;
  border-radius: 4px;
  margin-top: -9rem;
  padding: 10rem 1.5rem 4rem;
  align-items: center;
  z-index: 1;

  .money {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
  }

  h3,
  h4,
  p {
    font-family: "Lato";
    max-width: 34rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  h4 {
    font-size: 3.2rem;
    line-height: 5.2rem;
    margin-top: 2.5rem;
  }

  p {
    color: $darkGray;
    font-size: 1.4rem;
    line-height: 1.82rem;
  }

  .amountRaised {
    color: $primaryGreen;
  }
}

.candidateInfo:hover {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 760px) {
  .container {
    margin: 1rem auto;
    width: max-content;
  }

  .imageContainer {
    max-width: 12rem;

    img {
      border: 5.3px solid $secondaryGreen;
      height: auto;
    }
  }

  .candidateInfo {
    margin: -7.3rem 0 3rem;
    padding: 7.3rem 3rem 2.5rem;

    h3 {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }

    h4 {
      font-size: 2.6rem;
      line-height: 3.4rem;
      margin-top: 1.3rem;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }
}
