@import "../styles/colors";

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 2rem 0;
  padding: 3rem 0;

  img {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

.container:first-of-type {
  margin: 3rem 0 2rem;
}

.candidate {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.profilePhoto {
  border-radius: 6.25rem;
  height: 12.5rem;
  margin-right: 3.3rem;
  object-fit: contain; // TODO We'll probably want to change this
  width: 12.5rem;
}

.textInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.candidateInfo {
  flex: 4;
}

.headerText {
  font-family: "Lato";
  font-size: 2.8rem;
  line-height: 130%;
}

.label {
  font-size: 2rem;
  line-height: 130%;
  color: $darkGray;
}

.totalRaised {
  flex: 1;
  margin: 1.6rem 3rem;

  .headerText {
    font-weight: 900;
  }
}

.visualization {
  flex-direction: row;
}

@media screen and (max-width: 760px) {
  .container {
    padding: 2rem 0;
    margin: 1rem 0;
    img {
      height: 65px;
      width: auto;
    }
  }

  .container:first-of-type {
    margin: 0;
  }

  .headerText {
    font-size: 1.2rem;
  }

  .label {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .totalRaised {
    margin: 0;
    flex-direction: column-reverse;
  }

  .visualization > div {
    flex: 1;
  }
}
