@import "../styles/colors";

.hero {
  padding: 10rem 3rem;

  .text {
    flex: 1;
    justify-content: center;
    max-width: 1440px;
    margin: auto;

    h1 {
      font-size: 5.4rem;
      margin-bottom: 2rem;
    }

    h2 {
      font-family: "Lato";
      font-size: 2.4rem;
      font-weight: normal;
      line-height: 3.4rem;
    }
  }
}

.orange {
  background: url("../images/orangeHeaderBlob.webp") right/auto 100% no-repeat
    $primaryOffWhite;
}

.blue {
  background: url("../images/blueHeaderBlob.webp") right/auto 100% no-repeat
    $primaryOffWhite;
}

.green {
  background: url("../images/greenHeaderBlob.webp") right/auto 100% no-repeat
    $primaryOffWhite;
}

@media screen and (max-width: 760px) {
  .hero {
    padding: 4rem 0;
    .text {
      padding-left: 2.5rem;

      h1 {
        font-size: 2.8rem;
      }

      h2 {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
  }
}
