@import "../styles/colors";

.footer {
  background-color: $primaryOffWhite;
  padding: 0 6rem;
}

.footerInner {
  max-width: 1440px;
  margin: auto;
}

.footerTop {
  flex-direction: row;
  padding: 3rem 0;
}

.footerLeft {
  flex: 1;
  padding: 1.8rem 0;
  flex-direction: column;
}

.footerRight {
  display: hidden;
}

.footerNav {
  flex-direction: row;
  padding-top: 6rem;
  padding-left: 1rem;

  ul {
    margin-right: 12.5rem;
  }
}

.footerNavItem {
  margin-bottom: 3rem;

  a {
    display: block;
    text-shadow: none;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.footerRight {
  justify-content: center;

  h5 {
    font-family: "DM Sans";
    font-size: 2.4rem;
  }

  form {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
    border: solid 1px #d1d1d1;
    border-radius: 4px;

    input {
      font-size: 1.8rem;
    }
  }
}

.emailInput {
  background-color: transparent;
  border: none;
  color: $darkGray;
  flex: 2;
  padding: 1.3rem 2rem;
}

.emailInput::placeholder,
.emailInput::-webkit-input-placeholder,
.emailInput:-ms-input-placeholder,
.emailInput::-moz-placeholder,
.emailInput:-moz-placeholder {
  color: $darkGray;
  opacity: 1;
}

.submitForm {
  background-color: $primaryGreen;
  border: solid 2px $primaryGreen;
  border-radius: 0 4px 4px 0;
  color: $primaryOffWhite;
  flex: 1;
  font-family: "DM Sans";
  font-weight: bold;
  padding: 1.3rem 2rem;
}

.submitForm:hover {
  cursor: pointer;
  border-color: $hoverGreen;
  background-color: $hoverGreen;
}

.footerBottom {
  padding-bottom: 4rem;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    a {
      color: $primaryGreen;
    }
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 3.2rem 2.6rem;
  }

  .footerTop {
    flex-direction: column;
    padding: 0;
  }

  .footerLeft {
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
  }

  .footerNav {
    margin: 3rem 0;
    padding: 0;

    ul {
      margin-right: 6rem;
    }
  }

  .footerNavItem {
    margin-bottom: 1.6rem;

    a {
      font-size: 1.2rem;
    }
  }

  .footerRight {
    align-items: normal;
    padding-bottom: 3rem;
    padding-top: 0;

    h5 {
      font-size: 1.4rem;
    }

    form input {
      font-size: 1.2rem;
      display: block;
    }
  }

  .emailInput {
    margin: 0.5rem 0;
    padding: 0.9rem;
  }

  .submitForm {
    border-radius: 4px;
    font-weight: bold;
    margin: 1px;
    padding: 0 1rem;
  }

  .footerBottom {
    padding-bottom: 0;

    h1 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1rem;
      color: #787878;
    }
  }
}
