.container {
  font-family: "Roboto", sans-serif;
}

.link {
  color: #006ea3;
  text-decoration: none;
}

.topBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #fff;
  background-color: #006ea3;
  border-bottom: 5px #0489c8 solid;
  padding: 0.9rem 1.6rem;
  text-decoration: none;
}

.topBarText {
  color: #fff;
  text-decoration: none;
  line-height: 1.3;
  font-size: 3rem;
  font-weight: 300;
  font-weight: lighter;
}

.headerNav {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  font-size: 1rem;
}

.headerNavItem {
  list-style-type: none;
  max-height: 2.1rem;
  margin-right: 3rem;
}

.headerNavItemText {
  line-height: 1rem;
  color: #fff;
  text-shadow: none;
  font-size: 1.4rem;
  font-weight: normal;
}

.footer {
  border-top: 3px #ffdd1f solid;
  display: flex;
  flex: 1;
  background-color: #f0f0f0;
  padding: 0 1.6rem;
}

.footerLeft {
  flex: 2;
  float: left;
  line-height: 1.5;
  color: #303030;
  font-size: 1.4rem;
}

.footerRight {
  flex: 1;
  float: right;
  text-align: right;
  padding: 1.8rem 0;
  padding-left: 1.5rem;
}

.headerText {
  color: #555;
  font-size: 3rem;
  font-weight: 300;
  display: block;
}

.headerTextBlue {
  color: #006ea3;
}

.headerTextBold {
  color: #808080;
  font-weight: normal;
}

.footerNav {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0;
  margin-bottom: 1.8rem;
  padding: 0;
}

.footerNavItem {
  list-style-type: none;
  max-height: 2.1rem;
  margin-right: 3rem;
}

.footerNavItemText {
  text-shadow: none;
  font-size: 1.4rem;
  font-weight: normal;
}

.footerBottomContent {
  line-height: 1.3;
}

.tagline {
  color: #555;
  font-size: 1.7rem;
  font-weight: normal;
}

.footerStipulation {
  font-size: 1.4rem;
  color: #808080;
  font-weight: normal;
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
  }

  .footerRight {
    padding-left: 0;
    text-align: left;
  }

  .footerNav {
    flex-flow: column nowrap;
  }
}
