$primaryBlack: #1B1B1B;
$primaryGreen: #008254;

.footer {
  background-color: #fafafa;
  padding: 0 6rem;
}

.footerInner {
  max-width: 1440px;
  margin: auto;
}

.footerTop {
  flex-direction: row;
  padding: 3rem 0;
}

.footerLeft {
  flex: 1;
  padding: 1.8rem 0;
  flex-direction: column;
}

.footerNav {
  flex-direction: row;
  padding-top: 6rem;
  padding-left: 1rem;

   ul {
     margin-right: 12.5rem;
   }
}

.footerNavItem {
  list-style-type: none;
  margin-bottom: 3rem;
  
  a {
    display: block;
    text-shadow: none;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.footerRight {
  justify-content: center;

  h2 {
    font-family: "DM Sans";
    font-size: 2.4rem;
  }

  form {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
    border: solid 1px #d1d1d1;
    border-radius: 4px;

    input {
      display: flex;
      font-size: 1.8rem;
    }
  }
}

.emailInput {
  background-color: transparent;
  border: none;
  color: #555555;
  flex: 2;
  padding: 1.3rem 2rem;
}

.emailInput::placeholder, 
.emailInput::-webkit-input-placeholder, 
.emailInput:-ms-input-placeholder,
.emailInput::-moz-placeholder,
.emailInput:-moz-placeholder
 {
  color: #555555;
  opacity: 1;
}

.submitForm {
  background-color: $primaryGreen;
  border: solid 2px $primaryGreen;
  border-radius: 0 4px 4px 0;
  color: #fafafa;
  flex: 1;
  font-family: "DM Sans";
  font-weight: bold;
  padding: 1.3rem 2rem;
}

.submitForm:hover {
  cursor: pointer;
}

.footerBottom {
  padding-bottom: 6rem;

  p {
    font-size: 1.6rem;
  }

  p:first-child {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .headerNavItem {
    margin-right: 1rem;
  }

  .footerTop {
    align-items: center;
    flex-direction: column;
  }

  .footerLeft {
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
  }

  .footerRight {
    align-items: normal;
    padding-bottom: 3rem;
    padding-top: 0;

    h5 {
      font-size: 1.75rem;
    }

    form {
      border-color: transparent;
      flex-direction: column;
    }
  }

  .emailInput {
    margin: 0.5rem 0;
  }

  .submitForm {
    align-self: center;
    max-width: 50%;
  }
}
