$hoverGreen: #025b3c;

.logo {
  color: $hoverGreen;
  display: block;
  font-size: 2.8rem;
  width: max-content;
}

@media screen and (max-width: 760px) {
  .logo {
    font-size: 1.4rem;
  }

  .header {
    font-size: 1.6rem;
  }
}
