.outerContainer {
  padding: 9rem 5rem;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1440px;
  margin: auto;
}

.blob {
  flex: 1;
  max-width: 549px;
  min-width: 300px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 65rem;
  padding: 0 4rem;

  h2 {
    font-size: 4.5rem;
  }

  p {
    max-width: 90%;
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 1.6rem 0 2rem;
  }
}

.reversed {
  flex-direction: row-reverse;
}

@media screen and (max-width: 760px) {
  .outerContainer {
    padding: 4.5rem 1rem;
  }

  .innerContainer {
    flex-direction: column-reverse;

    img {
      max-width: 97%;
      padding: 3rem 0.3rem;
    }

    .content {
      padding: 0 2.1rem;

      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
  }
}
