$primaryGreen: #008254;
$primaryWhite: #fff;
$primaryOffWhite: #fafafa;

.outerContainer {
  background-color: $primaryWhite;
  
  .innerContainer {
    max-width: 1440px;
    padding: 5rem 10rem;
  }
  
  .sectionHeader {
    * {
      line-height: 1.3;
      text-align: center;
    }
  
    h2 {
      font-size: 4.5rem;
      margin-bottom: 2rem;
    }
  
    p {
      font-size: 2rem;
    }
  }
  
  .sectionBody {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
  }
  
  .sectionFooter {
    align-items: center;
    padding: 7rem 0 2rem;
  }
}


.secondary {
  background-color: $primaryGreen;

  .sectionHeader * {
    color: $primaryWhite;
  }
}

.offWhite {
  background-color: $primaryOffWhite;
}

  @media screen and (max-width: 760px) {
    .outerContainer {
      .innerContainer {
        padding: 4.5rem 2.1rem
      }

      .sectionHeader {

        * {
          text-align: start;
        }

        h2 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
      }

      .sectionBody {
        flex-direction: column;
        align-items: center;
      }
    }
  }
