@import "../styles/colors";

.outerContainer {
  position: sticky;
  top: 0;
  z-index: 4;
  box-shadow: 0px 2px 6px rgba(201, 201, 201, 0.7);
  background-color: $primaryWhite;
  font-family: "Lato";
}

.innerContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  position: relative;
}

.navbarTop,
.navbarBottom {
  display: flex;
  flex-direction: row;
}

.navbarTop {
  flex: 1;
}

.navbarBottom {
  flex: 1;
  justify-content: flex-end;
}

@media screen and (max-width: 760px) {
  .innerContainer {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarTop {
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    width: 96.4%;
  }

  .navbarBottom {
    position: absolute;
    background-color: $primaryWhite;
    width: 100%;
    top: 8rem;
  }
}
