@import "../styles/colors";

.container {
  h3 {
    font-size: 3.2rem;
    font-weight: bold;
  }
}

.pageHeader {
  h3 {
    font-size: 4.5rem;
    line-height: 5.85rem;
  }
  p {
    margin-top: 2rem;
    font-size: 2.4rem;
    line-height: 3.12rems;
  }
}

.subsection {
  h3 {
    font-size: 2.8rem;
    margin: 4rem 0;
  }
}

@media screen and (max-width: 760px) {
  .container {
    h3 {
      font-size: 2.2rem;
      line-height: 120%;
    }
  }
}
