@import "../styles/colors";

.innerContainer {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  max-width: 1440px;
  margin: auto;
}

.navbar {
  flex: 2;
  margin-right: 5rem;
}

.select {
  display: none;
}

.sidebar {
  padding-top: 8.8rem;
}

.section {
  margin-bottom: 2rem;
}

.text {
  font-size: 2.4rem;
  line-height: 130%;
}

.linkContainer {
  max-width: fit-content;
  padding: 1rem 0;
  z-index: 2;
  cursor: pointer;
}

.active,
.linkContainer:hover {
  margin-left: -1rem;
  .text {
    padding: 0 1rem;
    color: $primaryGreen;
  }
  .selected {
    display: flex;
  }
}

.active .linkContainer:hover {
  margin-left: 0;
}

.selected {
  border-bottom: 10px solid $secondaryGreen;
  display: none;
  margin-top: -1.2rem;
  z-index: 1;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 5;
}

@media screen and (max-width: 760px) {
  .innerContainer {
    flex-direction: column;
    padding: 2rem;
  }

  .navbar {
    margin-right: 0;
  }

  .section {
    margin-bottom: 3.4rem;

    h4 {
      margin: 0;
    }
  }

  .text {
    font-size: g.4rem;
    line-height: 1.7rem;
    margin: 1.2rem 0;
  }

  .select {
    display: block;
    border: 1px solid $backgroundGray;
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .sidebar {
    display: none;
  }
}
