@import "../styles/colors";

.container {
  display: flex;
  flex-direction: row;
}

.navbar {
  flex: 2;
  margin-right: 10rem;
}

.section {
  margin-bottom: 2rem;
}

.text {
  margin: 0.9rem 0;
  font-size: 2.4rem;
  line-height: 130%;
}

.selected {
  border-bottom: 10px solid $secondaryGreen;
  opacity: 0;
  margin-top: -2.2rem;
  z-index: 2;
}

.election {
  cursor: pointer;
  max-width: fit-content;
}

.election:hover {
  .text {
    color: $hoverGreen;
  }
  .selected {
    opacity: 1;
  }
}

.body {
  display: flex;
  flex: 5;
}

@media screen and (max-width: 760px) {
  .container {
    flex-direction: column;
  }

  .navbar {
    position: absolute;
  }

  .section {
    margin-bottom: 3.4rem;

    h4 {
      margin: 0;
    }
  }

  .text {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 1.2rem 0;
  }
}
