.border {
  border-top: 2px #ccc solid;
  margin-top: 0.9rem;
}

.sectionTitle {
  font-weight: lighter;
  color: #808080;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
}

.sectionItem {
  color: #006ea3;
  padding: 0.9rem;
}

.sectionItem:hover {
  background-color: #ffdd1f;
}

.measureItem {
  display: flex;
  flex-direction: column;
}

.measureDescription {
  display: block;
  color: #909090;
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
