.sectionTitle {
  font-weight: bold;
  color: #113537;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
}

.listItem {
  color: #006ea3;
  padding: 0.9rem;
  width: 100px;
  position: relative;
  left: 5%;
  right: 75%;
}

.sectionItem {
  color: #113537;
  padding: 0.9rem;
  font-size: 14px;
  width: 100px;
  position: relative;
  left: 5%;
  right: 75%;
}

.sectionItem:hover {
  background-color: lightblue;
}

.navBar {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 10rem;
}

.body {
  flex: 3;
  padding: 0 10rem;
}

.container {
  flex-direction: row;
}
