@import "../styles/colors";

.panel {
  text-align: center;

  .value {
    font-weight: bold;
    margin: 2.4rem 0;
  }
}

.header {
  font-size: 2.4rem;
  color: $tertiaryGray;
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  color: $primaryGreen;
}

.totalAmount {
  .header,
  .title {
    color: $primaryBlack;
  }
}

.value {
  font-size: 3.6rem;
  margin: 1.6rem 0;
}

@media screen and (max-width: 760px) {
  .title {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .header {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .value {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .totalAmount {
    .header,
    .title {
      color: $primaryBlack;
      font-size: 1.8rem;
      line-height: 130%;
    }
    .value {
      font-size: 2.2rem;
      line-height: 130%;
    }
  }
}
