.body {
  padding: 10rem;
  max-width: 1440px;
  margin: auto;
}

.faqSection {
  h2 {
    font-size: 4.5rem;
    margin-bottom: 5rem;
  }
}

.faqSection:first-of-type {
  margin-bottom: 10rem;
}

@media screen and (max-width: 760px) {
  .body {
    padding: 2rem;
  }

  .faqSection {
    h2 {
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
  }

  .faqSection:first-of-type {
    margin: 2rem 0 0;
  }
}
